/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Custom styles */

h1.small {
  margin: 1.50rem 0 1.50rem 0;
  font-size: 3.2rem;
}

.no-border {
  border-style: none!important;
}

.collection.no-border  .collection-item{
  border-bottom: none;
}

.material-icons.inline-icon {
  vertical-align: bottom;
  margin-right: 5px;
}

i.modal-trigger {
  cursor: pointer;
}

.card .card-image img{
  padding: 24px;
}

.collapsible-body {
  padding: 1rem;
}

.collapsible-body p {
  margin: 0.5em;
}