/* Theme */

.theme-main-text {
    color: #006442!important;
}

.theme-main {
    background-color: #006442!important;
}

.theme-secondary-text {
    color: #63967c!important;
}

.theme-secondary {
    background-color: #63967c!important;
}

.theme-third-text {
    color: #b0cabc!important;
}

.theme-third {
    background-color: #b0cabc!important;
}

.theme-four-text {
    color: #d7e4dd!important;
}

.theme-four {
    background-color: #d7e4dd!important;
  
}