/*
Used to override styles of template
*/

.advs-box-top-icon .icon.services {
    color:#63967c!important
}

.advs-box-side-icon .icon.features{
    color: #b0cabc!important;
}

.section-bg-video:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.section-bg-video.box-middle-container {
    height: 700px!important;
}

.case-studies p.bd-day.alt-bg {
    background-color: #63967c!important;
}

.case-studies .block-data {
    background-color: #63967c!important;
}

.theme-main .flex-control-paging li a.flex-active {
    background-color: #63967c!important;
}

.theme-main .case-studies .flex-control-paging li a.flex-active {
    background-color: #f7f7f7!important;
}

.theme-main .flex-direction-nav li a {
    background-color: #909090!important;
}

body.theme-main .btn {
    background-color: #63967c!important;
    border-color: #63967c!important;
}

body.theme-main .btn:hover {
    background-color: #b0cabc!important;
    border-color: #b0cabc!important;
}

.theme-main .call-action-box {
    background-color: #63967c !important;
}

.video-hero-text h1 {
    color: #d7e4dd!important;
}

.video-hero-text h4 {
    font-size: 26px;color: #ffffff;
}

.niche-box-testimonails-cloud .name-box {
    padding-left: 0px;
}

.niche-box-testimonails-cloud .vertical-col {
    border: none;
}

.theme-main .navbar-main, .theme-main .navbar-header {
    background-color: #63967c;
}

.theme-main header>.navbar {
    border: none;
}

.theme-main .navbar-default .navbar-nav > li.active > a {
    color: #f7f7f7!important;
}

.theme-main .navbar-default .navbar-nav > li > a {
    color: #b0cabc!important;
}

.theme-main .navbar-default .navbar-nav > li > a:hover, .theme-main .navbar-default .navbar-nav > li.active > a:hover {
    color: #f7f7f7!important;
}

.theme-main .navbar .nav > li.active {
    border-bottom-color: #f7f7f7!important;
}

.theme-main .navbar-default .navbar-toggle:hover {
    background-color: #b0cabc!important;
}

.theme-main .navbar-default .navbar-toggle:focus {
    background-color: #b0cabc!important;
}
.theme-main .navbar-toggle .fa-bars {
    color: #f7f7f7!important;
}

.contact-us.section-two-blocks>.row>div:last-child {
    background-color: #fff;
}

.theme-main .flex-control-paging li a:hover {
    background-color: #b0cabc!important;
}

.theme-main .niche-box-testimonails-cloud p {
    font-family: 'Mukta Vaani', sans-serif;
}

.theme-main .btn-border {
    color: #fff  !important;
}

.theme-main .btn-border:hover {
    color: #fff  !important;
}
.theme-main .fa-ul > li > i {
    color: #63967c;
}

@media (max-width:992px) {
    .theme-main .call-action-box > div:nth-child(3) {
        position: initial;
        background: none;
    }

    .theme-main .call-action-box > div:nth-child(2) > p {
        text-align: center;
    }

    .theme-main .call-action-box a.btn.btn-sm {
        background-color: #4F7863!important;
        border-color: #4F7863!important;
    }

    .theme-main .vertical-row>div {
        padding-top: 10px!important;;
        padding-bottom: 10px!important;;
    }
}


@media (min-width:600px) {
    .box-middle .video-hero-text {
        text-align: center;
    }
}


/* Hero Image */

.theme-main .section-bg-video .videobox.image {
    background-image: url('/images/web-design-software-solutions_snapshot_mobile.jpg');
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
    .theme-main .section-bg-video .videobox.image {
        background-image: url('/images/el-development-web-design-medium.jpg');
    }
}

@media only screen and (min-width: 1200px) {
    .theme-main .section-bg-video .videobox.image {
        background-image: url('/images/el-development-web-design-large.jpg');
    }
}

@media only screen and (min-width: 1900px) {
    .theme-main .section-bg-video .videobox.image {
        background-image: url('/images/el-development-web-design.jpg');
    }
}
