<!-- Case Studies Start -->
<div class="flexslider carousel nav-inner outer-navs case-studies" data-options="minWidth:250,itemMargin:15,numItems:3,controlNav:true,directionNav:true">
    <ul class="slides">
        <li>
            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                <div class="block-infos">
                    <div class="block-data">
                        <p class="bd-day">25</p>
                        <p class="bd-month">July 2017</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                </div>
                <a class="img-box"><img class="anima" src="../images/gallery/image-6.jpg" alt="" /></a>
                <div class="advs-box-content">
                    <h2><a href="#">Galvanize will teach students</a></h2>
                    <div class="tag-row">
                        <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                        Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                    </p>
                    <a class="btn btn-xs" href="#">Read more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                <div class="block-infos">
                    <div class="block-data">
                        <p class="bd-day">28</p>
                        <p class="bd-month">July 2017</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                </div>
                <a class="img-box"><img class="anima" src="../images/gallery/image-16.jpg" alt="" /></a>
                <div class="advs-box-content">
                    <h2><a href="#">The great enterprise chat race</a></h2>
                    <div class="tag-row">
                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a>, <a href="#">Tech</a></span>
                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                        Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                    </p>
                    <a class="btn btn-xs" href="#">Read more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                <div class="block-infos">
                    <div class="block-data">
                        <p class="bd-day">04</p>
                        <p class="bd-month">May 2017</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                </div>
                <a class="img-box"><img class="anima" src="../images/gallery/image-25.jpg" alt="" /></a>
                <div class="advs-box-content">
                    <h2><a href="#">For tech finds leaks underground</a></h2>
                    <div class="tag-row">
                        <span><i class="fa fa-bookmark"></i> <a href="#">Web</a>, <a href="#">Development</a></span>
                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                        Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                    </p>
                    <a class="btn btn-xs" href="#">Read more</a>
                </div>
            </div>
        </li>
        <li>
            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                <div class="block-infos">
                    <div class="block-data">
                        <p class="bd-day">11</p>
                        <p class="bd-month">May 2017</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                </div>
                <a class="img-box"><img class="anima" src="../images/gallery/image-27.jpg" alt="" /></a>
                <div class="advs-box-content">
                    <h2><a href="#">The Nevada desert trip</a></h2>
                    <div class="tag-row">
                        <span><i class="fa fa-bookmark"></i> <a href="#">Web</a>, <a href="#">design</a></span>
                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                        Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                    </p>
                    <a class="btn btn-xs" href="#">Read more</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- Case Studies End -->
