<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <div class="title-base text-left">
                <hr>
                <h2>Contact us</h2>
                <p>
                    Keep in touch. Meet us and start a great collaboration.
                </p>
            </div>
            <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax text-left" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <input id="name" name="name" placeholder="Name" type="text" class="form-control form-value" required="">
                    </div>
                    <div class="col-md-6">
                        <input id="email" name="email" placeholder="Email" type="email" class="form-control form-value" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr class="space xs">
                        <input id="phone" name="phone" placeholder="Phone" type="text" class="form-control form-value">
                        <hr class="space xs">
                        <textarea id="messagge" name="messagge" placeholder="Messagge" class="form-control form-value" required=""></textarea>
                        <hr class="space s">
                        <button class="anima-button btn-sm btn" type="submit"><i class="im-envelope"></i>SEND MESSAGE</button>
                    </div>
                </div>
                <div class="success-box">
                    <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                </div>
                <div class="error-box">
                    <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <img class="img-man" src="../images/man.png" alt="">
                <div class="col-md-5">

                </div>
                <div class="col-md-7">
                    <hr class="space m">
                    <p class="block-quote quote-1">
                        It is better to lead from behind and to put others in front,
                        especially when you celebrate victory.
                        <span class="quote-author">- Philip Errison</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
