<!-- Contact us Start -->
<div class="section-empty section-border" data-hailstone-routing-view="/client/views/contact-us.html">
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="title-base text-left">
                    <hr>
                    <h2>Contact us</h2>
                    <p>
                        Keep in touch. Meet us and start a great collaboration.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <img class="img-man" src="../images/man.png" alt="">
                    <div class="col-md-5">
    
                    </div>
                    <div class="col-md-7">
                        <hr class="space m">
                        <p class="block-quote quote-1">
                            It is better to lead from behind and to put others in front,
                            especially when you celebrate victory.
                            <span class="quote-author">- Philip Errison</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
<!-- Contact us End -->
